.card{
  border-radius: 35px;
  box-shadow: 2px 2px 20px 5px rgba(255, 255, 255, 0.5);
  border: none;
}
.col-7{
    text-align: center;
    overflow: hidden;
}
.img-loader{
  position: absolute;
  right: 30px;
  width: 25px;
  height: 25px;
  border: 5px solid #ffffff;
  border-top-color: #32b1fe;
  border-right-color: #32b1fe;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}
@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}
.col-5{
    text-align: left;
    margin-top: 10px;
}
p{
    position: relative;
    top: 3px;
    left: 2px;
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1rem;
    color: #686868;
}
.description{
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #51a2ff;
  text-shadow: 0px 0px 10px rgba(32, 166, 255, 0.9);
  text-align: center;
  margin-top: 0px;
}
h1{
    font-family: 'poppins',sans-serif;
    font-weight: bolder;
    letter-spacing: 0px;
    color: #51a2ff;
    text-shadow: 0px 0px 10px rgba(32, 166, 255, 0.5);
}
.c{
    font-size: 1.5rem;
    display: inline-block;
    color: #51a2ff;
    transform: translateY(-15px);
    text-shadow: 0px 0px 10px rgba(32, 166, 255, 0.8);
}
.deg{
    font-size: 3rem;
    display: inline-block;
}
.icon{
  width: 100px !important;
  animation: load .5s ease;
}
@keyframes load{
    0%{
      transform: translateX(-120px);
    }
    50%{
      transform: translateX(30px);
    }
    100%{
      transform: translateX(0px);
    }
}

  
  
  
  
  
  
  @media screen and (min-width:500px) and (max-width:700px) {
    .container{
      width: 80% !important;
    }
  }
  @media screen and (min-width:700px) and (max-width:900px){
    .container{
      width: 60% !important;
    }
  }
  @media screen and (min-width:900px) and (max-width:1000px){
    .container{
      width: 50% !important;
    }
  }
  @media screen and (min-width:1000px){
    .container{
      width: 40% !important;
    }
  }