.wr{
    margin: auto;
    left: 0;
    right: 0;
    font-family: 'poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 1.15rem;
    color: #51a2ff;
    text-shadow: 0px 0px 10px #51a2ffe1;
}

.col-3 p{
    letter-spacing: 1px;
    color: #51a2ff;
    text-shadow: 0px 0px 10px #51a2fff1;
}
i{
    text-shadow: 0px 0px 10px rgba(81, 162, 255, 0.8);
}
.p-value{
    color: #686868 !important;
    text-shadow: 0px 0px 10px #68686891 !important;
}
.b-line{
    height: 13rem;
    border-right: 3.5px dashed #51a2ff;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 58px;
    transform: translateX(-50%);
}
